<%- include('../partials/header.ejs') %>

<main class="createForm">
           
    <section class="formContainer">
        <h1 class="formHeading">EDIT EVENT</h1>
        
        <form method="POST" action="/events/<%=event.id%>?_method=PUT" class="formContent">
            <label for="sport">Sport</label>
            <input type="text" placeholder="Sport" name="sport" id="sport" value = "<%=event.sport%>">

            <label for="title">Title</label>
            <input type="text" placeholder="Title" name="title" id="title" value = "<%=event.title%>">


            <label for="details">Details</label>
            <textarea name="details" id="details" rows="5"><%=event.details%></textarea>

            <label for="location">Where</label>
            <input type="text" placeholder="Location" name="location" id="location" value = "<%=event.location%>">

            <label for="date">When</label>
            <input type="date" name="date" id="date" value = "<%=event.date%>">

            <label for="start">Start</label>
            <input type="time"  name="start" id="start" value = "<%=event.start%>">

            <label for="end">End</label>
            <input type="time"  name="end" id="end" value = "<%=event.end%>">

            <label for="image">Where</label>
            <input type="text" placeholder="imgURL" name="image" id="image" value = "<%=event.image%>">

            <aside>
                <button class="createButton">Update</button>
            </aside>
        </form>
            
       

        
    </section>

</main>

<%- include('../partials/footer.ejs') %>