<%- include('../partials/header.ejs') %>

<main class="events">

    <section class="eventContent">

        <% if(events.length) {%>
            <% sports.forEach(category=>{ %>
                <h1 class="eventCategory"><%= category %></h1>
                <section class="eventCards">
                    <% events.forEach(event=>{ if(category == event.sport) {%>
                    <a class="eventLink" href="/events/<%=event.id%>">
                        <div class="cardContainer">
                            <h3><%=event.title%></h3>
                            <p><span>Location:</span> <%=event.location%></p>
                            <p><span>Date:</span> <%= DateTime.fromISO(event.date).toLocaleString(DateTime.DATE_HUGE) %></p>
                            <img src="<%=event.image%>" alt="Soccer Game"/>
                        </div>
                    </a>
                    <% } }); %>
                </section>
        <% }); }%>

         
    </section>
</main>

<%- include('../partials/footer.ejs') %>