<%- include('../partials/header.ejs') %>

<main class="eventDescription">
    <div class="eventHeader">
        <section class="eventTitle">
            <h2><%= event.title %></h2>
            <p>Hosted by <%= event.host.firstName + " " + event.host.lastName %></p>
            <p><%= DateTime.fromISO(event.date).toLocaleString(DateTime.DATE_HUGE) %></p>
            <p><%= DateTime.fromISO(event.start).toLocaleString(DateTime.TIME_SIMPLE) %> - <%= DateTime.fromISO(event.end).toLocaleString(DateTime.TIME_SIMPLE) %></p> 
            <p><%= event.location %></p>
        </section>
        <section class="details">
            <h2>Details</h2>
            <p><%= event.details %></p>
            <img src="<%= event.image %>" alt="Sport" class="eventImages">
        </section>
    </div>
    <div class="rsvpInfo">
        <% if(count === 1) { %>
            <p><%=count%> member RSVP'd</p>
        <% } else { %>
            <p><%=count%> members RSVP'd</p>
        <% } %>
        <%if(user == event.host._id) {%>
            <form class="eventButtons">
                <button type="submit" class="updateButton" formmethod="GET" formaction="/events/<%=event._id%>/edit">Update</button>
                <button type="submit" class="deleteButton" formmethod="POST" formaction="/events/<%=event._id%>?_method=DELETE">Delete</button>
            </form>
        <%} else { %>
            <form class="eventButtons">
                <h3>RSVP to Attend!</h3>
                <button type="submit" class="yesButton" formmethod="POST" formaction="/events/<%=event._id%>/rsvp" name="answer" value="YES">Yes</button>
                <button type="submit" class="noButton" formmethod="POST" formaction="/events/<%=event._id%>/rsvp" name="answer" value="NO">No</button>
                <button type="submit" class="maybeButton" formmethod="POST" formaction="/events/<%=event._id%>/rsvp" name="answer" value="MAYBE">Maybe</button>
            </form>
        <% } %>
    </div>
        
    
    
</main>

<%- include('../partials/footer.ejs') %>