<%- include('../partials/header.ejs') %>

<main class="eventDescription">
    <div class="eventHeader">
        <section class="eventTitle">
            <h2><%= event.title %></h2>
            <p>Hosted by <%= event.host %></p>
            <p><%= DateTime.fromISO(event.date).toLocaleString(DateTime.DATE_HUGE) %></p>
            <p><%= DateTime.fromISO(event.start).toLocaleString(DateTime.TIME_SIMPLE) %> - <%= DateTime.fromISO(event.end).toLocaleString(DateTime.TIME_SIMPLE) %></p> 
            <p><%= event.location %></p>
        </section>
        <section class="details">
            <h2>Details</h2>
            <p><%= event.details %></p>
            <img src="<%= event.image %>" alt="Sport" class="eventImages">
        </section>
    </div>
    <form class="eventButtons">
        <button type="submit" class="updateButton" formmethod="GET" formaction="/events/<%=event.id%>/edit">Update</button>
        <button type="submit" class="deleteButton" formmethod="POST" formaction="/events/<%=event.id%>?_method=DELETE">Delete</button>
    </form>
</main>

<%- include('../partials/footer.ejs') %>